body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-size: 2em;
  box-sizing: border-box !important;
  text-align: center;
}

.txt-elips {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// @font-face {
//   font-family: 'GorditaBold';
//   src: local('GorditaBold'), url(./fonts/GorditaBold.woff) format('woff');
// }
